# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Read the .csv and drop missing data
cities_df = pd.read_csv("../WeatherPy/output_data/cities.csv", index_col=0)
cities_df.dropna(inplace=True)

cities_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,pianco,-7.20,-37.93,68.92,78,1,8.61,BR,1592975648
1,tonantins,-2.87,-67.80,72.43,97,72,1.25,BR,1592975648
2,swellendam,-34.02,20.44,37.40,93,0,2.17,ZA,1592975648
3,castro,-24.79,-50.01,52.99,92,0,4.41,BR,1592975445
4,zhuanghe,39.70,122.99,65.21,90,100,19.82,CN,1592975648
5,narsaq,60.92,-46.05,46.40,75,57,1.12,GL,1592975445
6,kapoeta,4.77,33.59,75.94,71,16,2.77,SS,1592975648
7,vaini,-21.20,-175.20,77.00,83,40,4.70,TO,1592975438
8,jamestown,42.10,-79.24,61.00,87,75,8.05,US,1592975440
9,erzin,36.96,36.20,75.99,79,31,5.53,TR,1592975648

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps 
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]].astype(float)

# Convert humidity to float and store 

humidity = cities_df['Humidity']

In [4]:
# Set the size of the heatmap
figure_layout = {
    'width': '100%',
    'height': '650px',
    'border': '1px solid black'}


# Plot heatmap
fig = gmaps.figure(layout=figure_layout, center=(45,0), zoom_level=1.7)

# Create heat layer 
heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                dissipating=False, max_intensity =10,
                                point_radius =1)

# Add layer to the map
fig.add_layer(heat_layer)

# Display figure 
fig

Figure(layout=FigureLayout(border='1px solid black', height='650px', width='100%'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Ideal weather conditions: temp >70 & <80, wind speed = <10mph, cloudiness =0
new_cities_df = cities_df.loc[(cities_df['Max Temp']>70) & 
                            (cities_df['Max Temp']<80) &
                            (cities_df['Wind Speed'] <10) &
                            (cities_df['Cloudiness']==0)]

new_cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
60,waddan,29.16,16.14,70.61,56,0,3.24,LY,1592975650
61,hun,29.13,15.95,70.09,59,0,3.49,LY,1592975650
202,sao filipe,14.90,-24.50,76.53,78,0,7.74,CV,1592975451
332,srednekolymsk,67.45,153.68,72.57,21,0,9.46,RU,1592975470
339,hashtrud,37.48,47.05,71.87,32,0,7.29,IR,1592975669
341,tomatlan,19.93,-105.25,79.00,82,0,1.07,MX,1592975670
420,ambilobe,-13.20,49.05,74.17,67,0,2.86,MG,1592975674
425,finale emilia,44.83,11.29,73.00,70,0,5.01,IT,1592975675
481,gavle,60.67,17.14,78.01,48,0,3.00,SE,1592975680
497,asyut,27.18,31.18,77.00,38,0,6.93,EG,1592975367

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create new dataframe 
hotel_df = new_cities_df

# Create a params dict that will be updated with new city each iteration
# Documentation for types (https://developers.google.com/places/web-service/supported_types)

params = {"type": "lodging",
         "radius": 5000,
         "key": g_key}

# Start loop through new_cities_df and run a search 
for index, row in hotel_df.iterrows():
    
# get latitude and longitude from new_cities_df
    lat = row["Lat"]
    lng = row["Lng"]

# Update location key value 
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Make API request and convert to json
    print(f"Retrieving Results for City: {row['City']}.")
    hotel_name = requests.get(base_url, params=params).json()
    
# Extract the results only 
    hotel_name_result = hotel_name['results']
    
    try:
        print(f"The closest hotel is :{hotel_name_result[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = hotel_name_result[0]['name']
    
    except:
        print("No hotel results, maybe next time")

Retrieving Results for City: waddan.
The closest hotel is :محل الشريف محمد العايب.
Retrieving Results for City: hun.

C:\Users\kenny\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\kenny\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

The closest hotel is :Alrwasi Hotel.
Retrieving Results for City: sao filipe.
The closest hotel is :Tortuga B&B.
Retrieving Results for City: srednekolymsk.
No hotel results, maybe next time
Retrieving Results for City: hashtrud.
The closest hotel is :هتل و مسافرخانه کارون.
Retrieving Results for City: tomatlan.
The closest hotel is :Norma franco.
Retrieving Results for City: ambilobe.
The closest hotel is :Hôtel & Restaurant DIANA Ambilobe.
Retrieving Results for City: finale emilia.
The closest hotel is :HOTEL CASA MAGAGNOLI.
Retrieving Results for City: gavle.
The closest hotel is :Scandic CH.
Retrieving Results for City: asyut.
The closest hotel is :Florence Hotel Assiut.

In [7]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
60,waddan,29.16,16.14,70.61,56,0,3.24,LY,1592975650,محل الشريف محمد العايب
61,hun,29.13,15.95,70.09,59,0,3.49,LY,1592975650,Alrwasi Hotel
202,sao filipe,14.90,-24.50,76.53,78,0,7.74,CV,1592975451,Tortuga B&B
332,srednekolymsk,67.45,153.68,72.57,21,0,9.46,RU,1592975470,NaN
339,hashtrud,37.48,47.05,71.87,32,0,7.29,IR,1592975669,هتل و مسافرخانه کارون
341,tomatlan,19.93,-105.25,79.00,82,0,1.07,MX,1592975670,Norma franco
420,ambilobe,-13.20,49.05,74.17,67,0,2.86,MG,1592975674,Hôtel & Restaurant DIANA Ambilobe
425,finale emilia,44.83,11.29,73.00,70,0,5.01,IT,1592975675,HOTEL CASA MAGAGNOLI
481,gavle,60.67,17.14,78.01,48,0,3.00,SE,1592975680,Scandic CH
497,asyut,27.18,31.18,77.00,38,0,6.93,EG,1592975367,Florence Hotel Assiut

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)

# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='650px', width='100%'))